body {
    font-family: 'IBM Plex Mono', monospace;
    margin: 0;
}

main {
    width: 75%;
    margin: 20pt auto;
}

main p, main li {
    margin: 20pt 0;
    line-height: 1.5;
}

footer {
    margin: 20pt 0 0 0;
    padding: 10pt 20pt 10pt 20pt;
    background-color: #777;
    color: white;
}

/* Figuras */

div.imagem_texto {
    display: grid;
    align-items: start;
    grid-template-columns: auto auto;
    width: 100%;
}

div.imagem_texto p { margin-top: 0; }

div.imagem_texto_dir figure { margin: 0 0 0 20pt; width: var(--largura_img);}
div.imagem_texto_esq figure { margin: 0 20pt 0 0; width: var(--largura_img);}

figure img {
    display: block;
    width: var(--largura_img) ;
    height: auto;}

figure figcaption {
    width: 100%;
    font-size: small;
    color: #444;
    margin-top: 10pt;
}

/* Citações */

blockquote.quote_pt {
    font-size: larger;
    font-style: italic;
}

blockquote.quote_en {
    margin-top: 10pt;
    color: #363636;
}

/* Elementos do título */

h1 {
    font-size: 60pt;
    font-weight: 700;
}

h2 {
    font-size: 20pt;
    font-weight: 600;
    line-height: 1.5;
}

.titulo_wrap {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto;
    margin: auto;
    width: 70%;
    /* margin-top: 60pt; */
}

.titulo_texto h1, .titulo_texto h2 {
    text-align: right;
    margin: 0 0;
}

div.titulo_texto { margin-right: 3em; }

img.titulo_imagem {
    height: 25em;
    width: auto;
}

/* Barra de navegação */

.topnav { 
    background-color: #222;
    overflow: auto;
    /* position: fixed;
    top: 0; */
    width: 100%;
    z-index: 10000;
    white-space: nowrap;
}

.topnav a, .topnav p {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 15pt;*/
    margin: 0;
}

.topnav a:hover {
    background-color: #444;
}

.topnav a.nav_ativo {
    background-color: #EEE;
    color: #222;
}

/* Mapa */
#map {
    height: 350px;
}

.leaflet-popup-content {
    font-family: 'IBM Plex Mono', monospace;
}

/* Responsive */

@media only screen and (max-width: 768px) {
    main { width: 95%;}

    div.titulo_imagem { display: none; }

    div.titulo_texto { margin: 0; }

    .titulo_wrap { grid-template-columns: auto; }

    .titulo_texto h1, .titulo_texto h2 {text-align: center; margin: 0;}

    .topnav { width: auto; }

    div.topnav * { float: none; display: inline-block; }
    
    div.imagem_texto { width: 100%; justify-content: center; grid-auto-flow: column; grid-template-columns: auto; grid-template-rows: auto auto;}

    div.imagem_texto figure { margin: 10pt auto; }

}